{%  extends "base.html" %}
{% load static %}

{% block title %}
    Nadchodzące wydarzenia
{% endblock %}

{% block css_files %}
{#    <link rel="stylesheet" href="{% static "events/event.css" %}">#}
{#    <link rel="stylesheet" href="{% static "events/all_events.css" %}">#}
{% endblock %}

{% block content %}

    <section>
        <h2>Nadchodzące wydarzenia:</h2>
        <div class="container">
            <div class="row">


            {% for event in all_events %}

                {% include "events/includes/event.html" %}

            {% endfor %}



            </div>
        </div>
    </section>
{% endblock %}
