{% extends "base.html" %}
{% load static %}

{% block title %}
   {{ event.title }}
{% endblock %}

{% block css_files %}
{#    <link rel="stylesheet" href="{% static "events/event_detail.css" %}">#}
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ event.title }}</h2>
        <article>
            <img src="{% static "events/images/"|add:event.image %}" alt="{{ event.title}}" class="rounded float-end">
            <p>Dnia {{ event.date }}</p>
            <p>Godzina: {{ event.time }}</p>
            <p>Gdzie: {{ event.place }}</p>
            <p>Prowadzący zajęcia:
            {% for instructor in instructors %}
                {{ instructor }}
            {% endfor %}
            </p>



        </article>
    </section>

    <main>
        {{ event.content|linebreaks }}
    {#bootstrap toogle collapse#}
            {% if user.is_authenticated %}
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Zapisz na zajęcia
                </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                 {{ user.first_name }} naciśnij przycisk aby zapisać na zajęcia:
                 <ul>
                     {% for kid in kids %}
                         <li>{{ kid.kid_name }}</li>
                     {% endfor %}
                 </ul>
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
              </div>
            </div>
            {% else %}
                <a class="btn btn-primary" href="/login/" role="button">Zaloguj się</a>
            {% endif %}
            {#end toogle collapse#}
    </main>
{% endblock %}
