{% extends "base.html" %}
{% load static %}

{% block title %}
   {{ event.title }}
{% endblock %}

{% block css_files %}
{#    <link rel="stylesheet" href="{% static "events/event_detail.css" %}">#}
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ event.title }}</h2>
        <article>
            <img src="{% static "events/images/"|add:event.image %}" alt="{{ event.title}}" class="rounded float-end">
            <p>Dnia {{ event.date }}</p>
            <p>Godzina: {{ event.time }}</p>
            <p>Gdzie: {{ event.place }}</p>
            <p>Prowadzący zajęcia: {{ event.host }}</p>

        </article>
    </section>

    <main>
        {{ event.content|linebreaks }}
    </main>
{% endblock %}
