{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "events/css/forms.css" %}">
{% endblock %}

{% block content %}
    <main>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>

            {% endfor %}


            <button type="submit">Wyślij</button>

        </form>
    </main>
{% endblock %}
