{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block css_files %}
    {#    <link rel="stylesheet" href="{% static "" %}">#}
{% endblock %}

{% block content %}
    <main>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Imie</label>
            <input id="username" name="username" type="text"><br>

            <label for="password">Haslo</label>
            <input id="password" name="password" type="password"><br>

            <label for=""></label>
            <input type="">

            <button type="submit">Wyslij</button>

        </form>
    </main>
{% endblock %}
